/* BASE */

/* VARIABLES */
:root {
    --red: #ff6f69;
    --mydarkgray: #333;
    --backColor: #fffeae;
    --colBrown: #58210c;
    --colLightBlue: #00c3c3;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 400; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MEDIA CATCH ALL */
img, embed, object, video {
    max-width: 100%;
}

header {
  margin: 1rem 20%;
}

main {
  margin: 1rem 20%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem;
}

p, span  {
    margin: 0.5rem 0.5rem 0.75rem 0.5rem;
}

pre {
  padding: 0.4rem;
  background: Gainsboro;
  overflow: auto;
}

code {
  font-family: 'Inconsolata', monospace;
  background: Gainsboro;
  font-size: 1.1rem;
}

section {
  margin-bottom: 2rem;
}

figcaption {
  background-color: #cedcdf;
  border-left: 2px solid #3a3939;
  padding: 0.5rem;
  margin: 0.3rem 1rem;
  font-style: italic;
  font-size: 1.1rem;
}

#another-par {
  margin: 1rem;
  padding: 1rem;
  background-color: #b9cfd4;
}

/* Experiences for using JavaScript to play around */

.ask-change {
  background-color: darkslateblue;
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 2rem;
}

.text-red {
  color: #d11212f1;
}

.back-lightblue {
  background-color: LightSteelBlue;
}

.text-lightblue {
  color: LightSteelBlue;
}

.back-aquamarine {
  background-color: Aquamarine;
}

.text-aquamarine {
  color: Aquamarine;
}