<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Vue.js Basics</title>
</head>
<body class="container mt-4">
  <div class="container" id="app">
    <div class="col mb-3">
      <h1>Vue.js Basics</h1>
      <h2>Lifecycle Hooks</h2>
      <h3>Getting data using mounted () and fetch</h3>
    </div>
    <!-- Loops v-for (item = variable) -->
    <!-- Conditional v-if -->
    <!-- User input v-model to be handled by the user -->
    <div class="form-inline mr-auto">
      <label for="formMax" class="font-weight-bold mr-2">Max price</label>
      <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
    </div>
    <input type="range" class="custom-range" id="formRange" min="0" max="300" v-model="maximum">
    <div class="row d-flex mb-3 align-items-center"
        v-for="item in products"
        v-if="item.price<=Number(maximum)">
      <div class="col-sm-4">
        <!-- Binding (v-bind:src="src" or :src="src") -->
      <img class="img-fluid d-block" v-bind:src="item.image" :alt="item.name">
      </div>
      <div class="col">
        <h3 class="text-info">{{ item.name }}</h3>
        <p class="mb-0">{{ item.description }}</p>
        <div class="h5 float-right">${{ Number(item.price) }}</div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script>
    // Lifecycle Hooks - We will get the data online
    const app = new Vue({
      el: '#app',
      data: {
        maximum: 60,
        products: null
      },
      mounted () {
        fetch('https://hplussport.com/api/products/order/price')
        .then(response => response.json())
        .then(data => {
          this.products = data
        })
      }
    })
  </script>
</body>
</html>